.film-detail {
    display: flex;
    padding-top: 10rem;

    @media #{$mq-desktop} {
        padding-top: 8rem;
        flex-direction: column-reverse;
    }

    > .videos {
        flex: 1;
        padding-right: 3rem;
        @media #{$mq-tablet} {
            padding-right: 0;
        }
        > .player {
            iframe {
                width: 100%;
                @media #{$mq-desktop} {
                    height: 400px;
                    margin-bottom: 50px;
                }
                @media #{$mq-tablet} {
                    height: 300px;
                }
                @media #{$mq-mobile-h} {
                    height: 200px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    > .content {
        width: 350px;

        @media #{$mq-desktop} {
            width: 100%;
            text-align: center;
        }

        > .title {
            margin: 1rem 0 2rem;
            font-size: 2rem;
            color:$green;
        }
    }
}