.footer {
    width: 80vw;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 1rem;

    >.contacts {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;

        .title {
            font-weight: $bold;
            font-size: 1.2rem;
            margin-bottom: .5rem;
            color: #727070;
        }

        .link,
        .text {
            color: #727070;
            font-size: 1rem;
            text-decoration: none;
        }

    }

    >.bottom {
        padding-top: 2rem;
        border-top: 1px solid rgba(130, 128, 128, .2);

        >.text {
            text-transform: uppercase;
            text-align: center;
            font-size: .8rem;
            color: #727070;

            >.author {
                color: #727070;
                text-decoration: none;
                transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

                &:hover {
                    color: white;
                }
            }
        }
    }

}