header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: thin solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    >.another {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    >.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;

        @media #{$mq-tablet} {
            flex-direction: column;
        }
    }
}