main {
    min-height: 100vh;
}

.emBreve {
    width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  > .logo {
    margin-bottom: 2rem;
  }
}