.table {
    padding: 2rem;

    >.row {
        display: flex;
        border-bottom: 1px solid #2f2f2f;

        .fa-bars {
            display: flex;
            align-items: center;
            cursor: move;
        }

        &.-head {
            font-family: $bold;
            color: $secondaryColor;
            border-color: $secondaryColor;
        }

        >.col {
            padding: 1rem;
            display: flex;
            align-items: center;

            &.-img {
                width: 100px;
                justify-content: center;
            }

            &.-flex {
                flex: 1;
            }

            &.-act {
                width: 150px;
                justify-content: center;

                a {
                    color: white;
                    text-decoration: none;
                    text-align: center;
                }
            }

            >.picture {
                width: 50px;
            }

            >.icon {
                padding: 0 .5rem;
            }
        }
    }
}