$green: hsl(180, 40%, 40%);
$grey: #858383;
$greyDark: #212222;

$secondaryColor: $grey;
$mainColor: $greyDark;

$light: 400;
$regular: 500;
$bold: 700;
$extraBold: 900;

//Media Queries
$mq-mobile:"(max-width:400px)";
$mq-mobile-h:"(max-width:600px)";
$mq-tablet:"(max-width:780px)";
$mq-tablet-h:"(max-width:1024px)";
$mq-desktop:"(max-width:1280px)";
$mq-desktop-h:"(max-width:1400px)";

$mq-height-q:"(max-height:500px)";
$mq-height-s:"(max-height:600px)";
$mq-height-st:"(max-height:700px)";
$mq-height-o:"(min-height:800px)";