.category {
  &.-light {
    background-color: #2B2C2C;
  }

  padding: 5rem 0;

  >.title {
    padding-bottom: 5rem;
    text-align: center;

    >a {
      color: white;
      font-size: 1.5rem;
      font-weight: $regular;
      text-decoration: none;
    }
  }

  .category-slider {

    .work {
      height: 400px;
      margin: 0 10px;
      position: relative;

      >img {
        height: 100%;
        opacity: .5;
      }

      .subtitle {
        position: absolute;
        bottom: 40px;
        left: 40px;
        z-index: 1;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $light;
      }
    }
  }
}