.logo {
    &.-isMobile {
        padding-left: 4rem;
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;

        span {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: $light;
            @media #{$mq-mobile} {
                font-size: 1.2rem;
              }

            strong {
                font-weight: $bold;
            }
        }

        small {
            font-size: .8rem;
            letter-spacing: .11rem;
        }
    }
}