.work-detail {
  width: 100%;
  padding-top: 70px;

  .no-content {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$mq-desktop-h} {
      width: 1200px;
    }

    @media #{$mq-tablet-h} {
      width: 90%;
    }

    .video {
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
      .name {
        display: block;
        padding: 1rem;
        /* text-align: center; */
        background: rgba(255, 255, 255, 0.1);
        font-size: 1.2rem;
      }
    }

    iframe {

      @media #{$mq-tablet} {
        height: 300px;
      }

      @media #{$mq-mobile-h} {
        height: 200px;
      }
    }

    >.title {
      color: white;
      margin: 2rem 0 1rem;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 5px solid grey;
    }

    >.text {
      margin: 2rem auto;
      font-size: 1rem;
      font-weight: 100;
      color: #858383;
      align-self: flex-start;
      width: 40rem;
      text-align: center;
      @media #{$mq-tablet-h} {
        width: 100%;
      }
    }
  }
}