@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import "~react-image-crop/lib/ReactCrop.scss";

@import './general/fonts',

'./helpers/mixins',
'./helpers/variables',
'./helpers/slick-theme',

'./layout/admin',
'./layout/header',
'./layout/main',
'./layout/films',
'./layout/detail',
'./layout/contact',
'./layout/login',
'./layout/table',
'./layout/footer',

'./components/action',
'./components/button',
'./components/carousel',
'./components/category',
'./components/featured-media',
'./components/form',
'./components//gallery',
'./components/logo',
'./components/menu',
'./components/picture',
'./components/language',
'./components/loading',
'./components/react-draft',
'./components/socialmedia';

html,
body {
    background-color: $mainColor;
    color: white;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    @media #{$mq-tablet-h} {
        max-width: 90%;
    }
}

.show-mobile {
    display: none;

    @media #{$mq-tablet-h} {
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
            padding: 1rem;
            // background-color: $green;
            color: white;
            text-decoration: none;
            font-family: 'Panton-Bold';
            flex: 1;
            text-align: center;

            &:nth-of-type(2) {
                border-right: 2px solid black;
                border-left: 2px solid black;
            }
        }
    }
}

// https://github.com/zeit/next-plugins/tree/master/packages/next-sass